@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>@ViewData["Title"]</p>
<section class="hero-heading" style="background:url(@ViewData["Hero-ImageLink"])">
    <h1 class="hero-heading--heading">@ViewData["Hero-Heading"]</h1>
    <h2 class="hero-heading--subheading">@ViewData["Hero-SubHeading"]</h2>
</section>